@model IEnumerable<FnR.Models.Subscription>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_VetLayout.cshtml";
}

@section styles
{
    <link href="~/Content/MyStyles/income.css" rel="stylesheet" />
}

<div class="list-container">
    <div class="header-images">
        <img src="~/Content/Images/manageIncome-header.png" />
    </div>
    <p>
        <a href="@Url.Action("Index", "Home")" class="backbtn">
            <img src="~/Content/Images/backtodashb.png" onmouseover="this.src='./Content/Images/backtodash-button.png'" onmouseout="this.src='./Content/Images/backtodashb.png' " />
        </a>
    </p>
    <input type="search" class="light-table-filter" data-table="filtered-table" placeholder="search here..." autofocus />
    <table id="sortedTable" class="tablesorter filtered-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateSubscribed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NextDeliveryDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pet.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateSubscribed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NextDeliveryDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
   
    <div class="income-summary">
        <h3>Income Summary: <span class="emphasis">@DateTime.Now.ToString("MMMM")</span></h3>
        <div class="display-summary">
            <span class="summary-label">Total Subscriptions:</span>
            <span class="summary-value-number">@ViewBag.TotalSubscriptions</span>
        </div>
        <div class="display-summary">
            <span class="summary-label">Total Monthly Earnings:</span>
            <span class="summary-value-number"><span>$</span>@ViewBag.TotalEarnings</span>
        </div>
    </div>

</div>
