@model FnR.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_FnRLayout.cshtml";
}

<div id="details-content"> 

<div class="h2">
<h2>Details of Selected User</h2></div>

<div id="backlistbtn">
    <a href="@Url.Action("Index")">
        <img src="~/Content/Images/backtolist-button.png" onmouseover="this.src='../../Content/Images/backtolist-button-hover.png' " onmouseout="this.src='../../Content/Images/backtolist-button.png'" /></a>
</div>

<fieldset>
    <legend>User</legend>
    
    <div class="display-label">
         Pet Owner's Vet
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vet.Name)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FullName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div id="editbtn">
        <a href="@Url.Action("Edit", new { id=Model.Id })" >
            <img src="~/Content/Images/edit-button.png" onmouseover="this.src='../../Content/Images/edit-button-hover.png' " onmouseout="this.src='../../Content/Images/edit-button.png'" /></a>
    </div>

</fieldset>

</div>