@using System.Web.Optimization
@model FnR.Models.DoctorAppointmentStatus

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_VetLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Doctor Appointment Status</legend>
        
        <div class="editor-label">
                @Html.LabelFor(model => model.Doctor)
            </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.DoctorId, (SelectList) ViewBag.Doctors, "-- Please select a Doctor --")
        </div>

        <div class="editor-label">
            @Html.Label("Expected Wait Time")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ExpectedWaitTime, new SelectList(new [] {"5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60"}), "-- Please select Expected Wait Time --")
            @*@Html.EditorFor(model => model.ExpectedWaitTime)
            @Html.ValidationMessageFor(model => model.ExpectedWaitTime)*@
        </div>

        <div class="editor-label">
            @Html.Label("Expected Duration Of Delay")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ExpectedDurationOfDelay, new SelectList(new [] {"15", "30", "45", "60"}), "-- Please select Expected Duration Of Delay--")
            @*@Html.EditorFor(model => model.ExpectedDurationOfDelay)
            @Html.ValidationMessageFor(model => model.ExpectedDurationOfDelay)*@
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
