@using FnR.Databases
@using FnR.Repositories
@model IEnumerable<FnR.Models.Pet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FnRLayout.cshtml";
    var _petRepo = new PetRepository(new FnRDbContext());
}

<div id="pets-content">

    <div id="logo">
        <img class="logo" src="~/Content/Images/pets-logo.png" />
    </div>

    <div class="create-button">
        <a href="@Url.Action("Create")">Create New</a>
    </div>
    <input type="search" class="light-table-filter" data-table="filtered-table" placeholder="search pet name here..." autofocus />
    <table id="sortedTable" class="tablesorter filtered-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Breed.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th>Vet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Breed.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Vet.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="pager" class="pager">
        <form>
            <img class="first" src="./Content/first.png" />
            <img class="prev" src="./Content/prev.png" />
            <input class="pagedisplay" type="text" />
            <img class="next" src="./Content/next.png" />
            <img class="last" src="./Content/last.png" />
            <select class="pagesize">
                <option selected="selected" value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
        </form>
    </div>
</div>
