@using System.Web.Optimization
@model FnR.Models.PetType

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FnRLayout.cshtml";
}

<div id="create-content">
<div class="h2">
<h2>Create New Pet Type</h2></div>

<div id="backlistbtn">
    <a href="@Url.Action("Index")" >
        <img src="~/Content/Images/backtolist-button.png" onmouseover="this.src='../Content/Images/backtolist-button-hover.png' " onmouseout="this.src='../Content/Images/backtolist-button.png ' " /></a>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PetType</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div id="createbtn">
            <input type="submit"   class="btn" value="Create"/>
        </div>
    </fieldset>
}

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
