@using FnR.Models
@{
    ViewBag.Title = "Add Products to Vet";
    Layout = "~/Views/Shared/_VetLayout.cshtml";
}

@section styles
{
    <link href="~/Content/MyStyles/product.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Scripts/MyScripts/product.js"></script>
}
@Html.Hidden("getproduct-url", Url.Action("GetProduct", "Product"))
<div class="fieldset-container">
    <fieldset>
        <legend>Add Available Products</legend>
        @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { id = "add-product" }))
        {
            <div class="container">
                @Html.Label("Available Products")
                @Html.DropDownList("AvailableProduct", ViewBag.AvailableProducts as SelectList, new { id = "AvailableProduct" })
            </div>
            <div class="">
                <fieldset>
                    <legend>Product Details</legend>
                    <div class="container">
                        <span class="label">Pet Type: </span>
                        <span id="product-pettype"></span>
                    </div>
                    <div class="container">
                        <span class="label">Weight Limit: </span>
                        <span id="product-weightlimit"></span>
                    </div>
                </fieldset>
            </div>
            <input type="image" src="~/Content/Images/add-button.png" class="addbutton" alt="submit" onmouseover="this.src='../Content/Images/add-button-hover.png'" onmouseout="this.src='../Content/Images/add-button.png' " />
            <a href="@Url.Action("Index")" class="backlistbtn">
                <img src="~/Content/Images/backtolist.png" onmouseover="this.src='../Content/Images/backtolist-button.png'" onmouseout="this.src='../Content/Images/backtolist.png' " /></a>
        }
    </fieldset>
</div>

<div class="list-container">
    <h2>Existing Products</h2>
    <input type="search" class="light-table-filter" data-table="filtered-table" placeholder="search existing product here..." autofocus />
    <table id="sortedTable" class="tablesorter filtered-table">
        <thead>
            <tr>
                <th>Product Name
                </th>
                <th>Product Description
                </th>
                <th>Product Cost ($)
                </th>
                <th>Price ($)
                </th>
                <th>Amount per Pack
                </th>
                <th>Pet Type
                </th>
                <th>Pet Weight
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @ViewBag.AddedProducts as IEnumerable<Product>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PetType.Name)
                    </td>
                    <td>
                        <span>@item.LowerWeightLimit@{<text>Kg</text>}</span><span>-</span><span>@item.HeigherWeightLimit@{<text>Kg</text>}</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div id="pager" class="pager">
        <form>
            <img class="first" src="../Content/first.png" />
            <img class="prev" src="../Content/prev.png" />
            <input class="pagedisplay" type="text" />
            <img class="next" src="../Content/next.png" />
            <img class="last" src="../Content/last.png" />
            <select class="pagesize">
                <option selected="selected" value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
        </form>
    </div>
</div>
